<h1>Create new employee</h1>
<form (ngSubmit)="createEmployee()">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Enter employee's name" name="name"
           [(ngModel)]="employee.name">
  </div>
  <div class="form-group">
    <label for="inputAge">Age</label>
    <input type="number" class="form-control" id="inputAge" placeholder="Enter employee's age" name="age"
           [(ngModel)]="employee.age">
  </div>
  <div class="form-group">
    <label for="inputDepartment">Department</label>
    <select class="form-control" id="inputDepartment" name="department" [(ngModel)]="employee.department">
      <option *ngFor="let department of departments" [value]="department">{{department.name}}</option>
    </select>
  </div>
  <button class="btn btn-primary">Create</button>
</form>

<p>{{employee.name}}</p>
<p>{{employee.age}}</p>
<p>{{employee.department?.id}}</p>
<p>{{employee.department?.name}}</p>
